<div class="app-container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/#">BEst route</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/calculation">Calculation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/statistic">Statistic</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" style="margin-top: 3em;">
    <h1>Genetic algorithm Traveling salesman problem solver</h1>
  </div>
  <router-outlet></router-outlet>
  <div *ngIf="hasLoadedResources" class="loader-conatainer">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
